{{! The global footer at the very bottom of the screen }}
<footer class="site-footer outer">
  <div class="inner">
        <script>
          function accordionFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
            } else { 
              x.className = x.className.replace(" w3-show", "");
            }
          }
        </script>

        <div class="grid-item">
          <span class="footer-header">
            Our Services
          </span>
          <ul class="footer-menu">
            <li>
              <a target="" href="/">
                Development
              </a>
            </li>
            <li>
              <a
                target=""
                href="/"
              >
                Web Design
              </a>
            </li>
            <li>
              <a target="" href="/">
                Advertising
              </a>
            </li>
            <li>
              <a target="" href="/hosting">
                Hosting
              </a>
            </li>
            <li>
              <a target="" href="/">
                Graphic Design
              </a>
            </li>
            <li>
              <a target="" href="/">
                Ecommerce
              </a>
            </li>
          </ul>
        </div>
        <div class="grid-item">
          <span class="footer-header">
            Solutions by Organization
          </span>
          <ul class="footer-menu">
            <li>
              <a>
                Attraction &amp; Events
              </a>
            </li>
            <li>
              <a>
                Construction
              </a>
            </li>
            <li>
              <a>
                Health
              </a>
            </li>
            <li>
              <a>
                Real Estate
              </a>
            </li>
            <li>
              <a>
                Retail
              </a>
            </li>
            <li>
              <a>
                Service
              </a>
            </li>
          </ul>
        </div>
        <div class="grid-item">
          <span class="footer-header">
            Partners
          </span>
          <ul class="footer-menu">
            <li>
              <a>
                Channel Partners
              </a>
            </li>
            <li>
              <a>
                Partner Agencies
              </a>
            </li>
            <li>
              <a>
                Executive Recruiting
              </a>
            </li>
          </ul>
        </div>
        <div class="grid-item">
          <button onclick="accordionFunction('Resources')" class="footer-header">
          Resources
          </button>
          <style>
            .w3-show {display: block !important;}
            .w3-hide {display: none}
            button.footer-header {
              background-color: transparent;
            }
          </style>
         

      
          
          <ul id="Resources" class="footer-menu w3-hide">
            <li>
              <a>
                Blog
              </a>
            </li>
            <li>
              <a>
                Videos
              </a>
            </li>
            <li>
              <a>
                Case Studies
              </a>
            </li>
            <li>
              <a>
                eGuides
              </a>
            </li>
            <li>
              <a>
                Reports
              </a>
            </li>
            <li>
              <a>
                Tech Briefs
              </a>
            </li>
            <li>
              <a>
                Solution Briefs
              </a>
            </li>
            <li>
              <a>
                Webinars
              </a>
            </li>
            <li>
              <a>
                Knowledge Base
              </a>
            </li>
            <li>
              <a>
                Glossary of Terms
              </a>
            </li>
            <li>
              <a>
                Documentation
              </a>
            </li>
            <li>
              <a>
                Podcasts
              </a>
            </li>            
          </ul>
        </div>
        <div class="grid-item">
          <button onclick="accordionFunction('Company')" class="footer-header">
          Company Information
          </button>
          <ul id="Company" class="footer-menu w3-hide">
            <li>
              <a>
                About
              </a>
            </li>
            <li>
              <a>
                Locations
              </a>
            </li>            
            <li>
              <a>
                Legal
              </a>
            </li>
            <li>
              <a>
                Product Terms
              </a>
            </li>
            <li>
              <a>
                Web Accessibility
              </a>
            </li>
            <li>
              <a>
                Media Coverage
              </a>
            </li>
            <li>
              <a>
                Events
              </a>
            </li>
            <li>
              <a>
                Press Releases
              </a>
            </li>
            <li>
              <a>
                Careers
              </a>
            </li>
            <li>
              <a>
                Contact Us
              </a>
            </li>
          </ul>
        </div>
     

  
   
      </div>
</footer>
